/* Gallery.css */
*{
    box-sizing: border-box;
}
.gallery{
    background: linear-gradient(90deg, rgba(205,143,118,1) 0%, rgba(234,182,97,1) 100%);
    height: 135vh;
    display: flex;
}
.gallery-container {
    object-fit: cover;
    height: auto; /* Изменено на auto для адаптивности */
    display: flex;
    flex-direction: column; /* Вертикальное расположение рядов */
    align-items: center; /* Центрируем по горизонтали */
    max-width: 1200px; /* Максимальная ширина контейнера */
    margin: auto; /* Центрируем контейнер */
}

.gallery-row {
    display: flex; /* Используем flex для рядов */
    width: 100%; /* Ширина ряда на 100% */
}

.gallery-item {
    position: relative; /* Для позиционирования изображения */
    overflow: hidden; /* Скрываем часть изображения при увеличении */
}

.item-1 {
    flex: 1; /* 1/3 ширины */
    max-width: 33.33%; /* Максимальная ширина 1/3 */
}

.item-2 {
    flex: 2; /* Остальная ширина */
    max-width: 66.67%; /* Максимальная ширина 2/3 */
}

.item-3,
.item-8,
.item-6 {
    flex: 2; /* 2/3 ширины */
    max-width: 66.67%; /* Максимальная ширина 2/3 */
}

.item-4 {
    flex: 1; /* Вертикальное изображение */
    max-width: 33.33%; /* Максимальная ширина 1/3 */
}

.item-5 {
    flex: 1; /* 1/3 ширины */
    max-width: 33.33%; /* Максимальная ширина 1/3 */
}



.item-9,
.item-10 {
    flex: 1; /* 1/3 ширины для всех изображений в четвертом ряду */
    max-width: 33.33%; /* Максимальная ширина 1/3 */
}

.gallery-item img {
    object-fit: cover;
    width: 100%; /* Изображение занимает 100% ширины родительского элемента */
    height:  300px; /* Автоматическая высота */
    transition: transform 0.3s ease; /* Плавный переход для увеличения */
}

.gallery-item:hover img {
    transform: scale(1.1); /* Увеличение изображения при наведении */
}

/* Медиа-запросы для адаптивности */
@media (max-width: 1200px) {
    .gallery-container {
        max-width: 100%; /* Убираем максимальную ширину для меньших экранов */
    }
}

@media (max-width: 992px) {
    .item-1, .item-2, .item-3, .item-4, .item-5, .item-6, .item-7, .item-8, .item-9, .item-10 {
        max-width: 100%; /* Все элементы занимают 100% ширины на маленьких экранах */
    }
}