

.services-container {
    padding: 20px;
    text-align: center;
    background: rgba(240, 240, 240, 0.5); /* Полупрозрачный фон подложки */
    height: 100vh; /* Высота на всю высоту экрана */
    background: radial-gradient(circle at bottom, var(--phil-bright) 50%, var(--yel-bright) 100%);
}

.services-title {
    font-family: "Caviar", sans-serif;
    font-weight: bold;
    color: white; /* Цвет текста */
    text-shadow: 
        -1px -1px 0 black,  
         1px -1px 0 black,
        -1px  1px 0 black,
         1px  1px 0 black; /* Обводка черного цвета */
    letter-spacing: 0.2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding-top: 80px;
    margin-bottom: -150px;
}

.services-background {
    font-family: "Caviar", sans-serif;
    object-fit: cover;
    display: flex;
    justify-content: center; /* Центрирование по горизонтали */
    align-items: center; /* Центрирование по вертикали */
    height: 100vh; /* Высота на всю высоту экрана */
}

.services-grid {
    display: grid; /* Используем Grid для размещения карточек */
    grid-template-columns: repeat(2, 1fr); /* Две колонки */
    justify-content: center;
    align-items: center;
    grid-template-rows: repeat(2, 1fr); /* Две строки */
    gap: 20px; /* Расстояние между карточками */
    width: 500px; /* Увеличенная ширина сетки */
    height: 500px; /* Увеличенная высота сетки */
}

.service-card {
    background: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    padding: 20px; /* Уменьшенные отступы */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.2s;
    display: flex; /* Flex для центрирования содержимого */
    flex-direction: column; /* Вертикальное расположение элементов */
    align-items: center; /* Центрирование по горизонтали */
    justify-content: flex-start; /* Начало по вертикали */
    width: 250px; /* Увеличенная ширина карточки */
    height: 290px; /* Увеличенная высота карточки */
}

.service-card:hover {
    transform: scale(1.05); /* Эффект увеличения при наведении */
}

.service-icon {
    width: 130px; /* Фиксированная ширина изображения */
    height: 130px; /* Фиксированная высота изображения */
    object-fit: cover; /* Обеспечивает правильное обрезание изображения */
    margin-bottom: 10px; /* Отступ снизу для разделения с текстом */
}

.service-title {
    font-size: 1.5rem;
    margin: 10px 0;
}

.service-description {
    color: #666;
    text-align: center; /* Центрирование текста описания */
    flex-grow: 1; /* Позволяет тексту занимать оставшееся пространство */
    margin-top: 10px; /* Отступ сверху для разделения с заголовком */
}

@media screen and (max-width: 768px) {
    .service-title{
        padding-right: 0px;
    }

}